body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-nav a {
  text-decoration: none;
}

.page-address a {
  text-decoration: none;
}

.hidden {
  display: none;
}

/* --------header------ */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.page-address {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 16px;
  display: block;
}

.studio {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .page-address {
    font-style: normal;
    display: block;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .link-nav {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .activ {
    color: #404bbf;
  }

  .activ::after {
    content: "";
    width: 100%;
    display: block;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .link-nav:hover,
  .link-nav:focus {
    color: #404bbf;
  }

  .page-address {
    font-style: normal;
    margin-left: auto;
  }

  .link-address {
    color: #434455;
    background-color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-address:hover,
  .link-address:focus {
    color: #404bbf;
  }
  .link-address:active {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contact-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* --------mobile-menu------ */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
/* тут исправить */
/* .mobile-close-svg {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  border-radius: 100%;
  background-color: #e7e9fc;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.mobile-menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.mobile-first {
  color: #404bbf;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-address-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  text-decoration: none;
}

.mobile-address-email {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.mobile-list-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mobile-items-icons {
  width: 40px;
  height: 40px;
}

.mobile-link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link-icons:hover,
.mobile-link-icons:focus {
  background-color: #404bbf;
}

.mobile-link-icons svg {
  width: 16px;
  height: 16px;
}

.mobile-link-icons-svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* --------section-advantages------ */

.section-advantages {
  padding: 96px 0;
}

.div-advantages-icons {
  display: none;
}

.advantages-subtitle {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (max-width: 767px) {
  .advantages-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-subtitle {
    text-align: left;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .advantages-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-advantages {
    padding: 120px 0;
  }
  .div-advantages-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .advantages-text {
    font-weight: 400;
  }

  .advantages-list {
    flex-wrap: nowrap;
  }

  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/* --------section-team------ */

.section-team {
  background-color: #f4f4fd;
  padding: 96px 12px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 auto 72px;
}

.team-performance {
  background-color: #ffffff;
  padding: 0px 0px 32px 0px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* 1.как сделать картинку-фотку участника команды по центру. 
если растягивать экран, картинка остается слева. */
/* 2.почему растягивается карточка (фотка, имя, должность)  */

.team-name-job {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-list-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-items-icons {
  width: 40px;
  height: 40px;
}

.team-link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icons:hover,
.team-link-icons:focus {
  background-color: #404bbf;
}

.team-link-icons svg {
  width: 16px;
  height: 16px;
}

.team-link-icons-svg {
  fill: #f4f4fd;
}

@media screen and (max-width: 767px) {
  .team-performance:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .section-team {
    padding: 96px 0;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-performance {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .team-performance {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/* --------section-portfolio------ */

.section-portfolio {
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-subtitle-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-cover-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  background: #4d5ae5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}

/* --------footer-page------ */

.footer-page {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 96px 0;
  text-decoration: none;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  text-align: left;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-studio {
  color: #f4f4fd;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-list-icons {
  display: flex;
  gap: 16px;
}

.footer-item-icons {
  width: 40px;
  height: 40px;
}

.footer-link-items {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-items:hover,
.footer-link-items:focus {
  background-color: #31d0aa;
}

.footer-link-items svg {
  width: 24px;
  height: 24px;
}

.footer-icons-svg {
  fill: #f4f4fd;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.footer-send {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  .footer-logo-text {
    text-align: center;
    margin-bottom: 72px;
  }
  .footer-subtitle {
    text-align: center;
  }
  .footer-list-icons {
    justify-content: center;
  }
  .footer-btn {
    margin: 16px auto 0 auto;
  }

  .footer-media {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .footer-conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .footer-input {
    width: 264px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-conteiner {
    max-width: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-page {
    padding: 100px 0;
  }

  .footer-conteiner {
    flex-wrap: nowrap;
    gap: unset;
  }

  .footer-logo-text {
    margin-right: 120px;
  }

  .footer-media {
    margin-right: 80px;
  }
}
